* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

html {
  font-size: 62.5%;
}

header {
  width: 100%;
  height: 10rem;
  background-color: #4caf50;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

header h1 {
  font-size: 4rem;
  color: white;
  margin: 0;
}

header p {
  font-size: 2rem;
  color: white;
}

main {
  width: 80%;
  max-width: 120rem;
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.row-1,
.row-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  gap: 4rem;
}

.gender,
.age,
.height-card,
.weight-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid #8585852a;
  padding: 2rem;
  width: 80%;
  border-radius: 1rem;
  gap: 4rem;
  height: 25rem;
}

h2 {
  font-size: 3rem;
  margin: 0;
}

.btn {
  outline: none;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}
.gender-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.bmi-btn {
  padding: 2rem 4rem;
  outline: none;
  border: none;
  border-radius: 2rem;
  font-size: 2rem;
  font-weight: 900;
  color: #fff;
  background-color: #ec5050;
}

.active {
  background-color: #008cff;
}

input[type="number"] {
  width: 8rem;
  font-size: 2rem;
  text-align: center;
  border: none;
  border-bottom: 0.2rem solid #8585852a;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-right: 1rem;
}

span {
  font-size: 2rem;
}

label {
  font-size: 2rem;
}
